@import './core/variables';
// .hidden {
//     display: none;
// }

.form {
    &__filter {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        padding-top:0px;
    }
    &__name {
        font-size: 14px;
        padding: 5px;
        width: 300px;
        max-width: 60%;
        border-radius: 3px;
        padding-inline-start: 40px;
        border: none;
        text-decoration: none;
        background: $colorBackground-form;
        transition: all 3.5s ease-out;
        &::placeholder {
            transition: all 2s ease;
        }
        &:focus , &:active {
            background: $colorBackground-card;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transform: translateX(5%);
            padding-inline-start: 30px;
          
            &::placeholder {
                opacity: 0;
            }
        }
        
        &--label {
            display: inline-block;
            position: relative;
            z-index: 1;
            top: 0;
            left: 0;
            padding: 5px;
            font-size: 15px;
            background: $colorBackground-card;
            text-shadow: 0 1px 0 rgba(19,74,70,.4);
            transform: translateX(70%);
            transition: all 2s ease-in-out;
        }
        &__wrapper {
            align-self: flex-start;
        }
    }
    &__results{
        padding-inline-start: 50px;
        color: $colorFontFooter;
    }
    &__select {
        width: 300px;
        max-width: 60%;
        padding-inline-start: 15px;
        font-size: 14px;
        background: $colorBackground-form;
        transition: background 5s ease;
            &:hover{
                background: $colorBackground-card;
            }
        &--label{
            display: inline-block;
            position: relative;
            z-index: 1;
            top: 0;
            left: 0;
            padding: 5px;
            font-size: 13px;
            background: $colorBackground-card;
            text-shadow: 0 1px 0 rgba(19,74,70,.4);
            transform: translateX(20%);
            
        }
    }
}
@keyframes aniInputText {
    0% {
        left: 48px;
        
    }
    55% {
        left: 24px;
        
    }
    100% {
        left: 0px;
        
    }
}